    <h1>Tu perfil {{user.name}}</h1>
    <p>Mail: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>

    <a href="/api/session/logout"><button>Cerrar sesion</button></a>

<h1>Productos</h1>

{{#each products}}
  <div>
    <h3>{{this.title}}</h3>
    <p>Precio: {{this.price}}</p>
    <p>Categoría: {{this.category}}</p>
    <p>Disponibilidad: {{this.status}}</p>
    <button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>
    <button onclick="showProductDetails('{{this._id}}')">Ver detalles</button>
  </div>
{{/each}}
<div>
  {{#if object.hasPrevPage}}
    <a href="/products?limit={{products.limit}}&page={{products.prevPage}}">Página anterior</a>
  {{/if}}
  {{#if object.hasNextPage}}
    <a href="/products?limit={{products.limit}}&page={{products.nextPage}}">Página siguiente</a>
  {{/if}}
</div>

<script>
  function addToCart(productId) {
  }

  function showProductDetails(productId) {
    window.location.href = `/products/${productId}`;
  }

</script>